.exchange-page {
  input, select, .price-estimate {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 10px;
  }
  .glyphicon-arrow-right {
    line-height: 40px;
  }
}
