body {
  background-color: white;
}

.heading {
  margin-bottom: 30px;
}

.main-container {
  margin-top: 50px;
}

.text-small {
  font-size: 15px;
}

.info-item {
  margin-right: 25px;
  font-size: 25px;
}

.bad-row {
  color: red;
}

.sidebar-wrapper {
  a {
    color: white;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  font-size: 14px !important;
  font-weight: bold !important;
}
